body {
  background-color: #ffeaa7;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}


.container {
  width: 90%;
  height: auto;
  min-height: 600px; 
  max-width: 600px; 
  min-width: 300px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2); 
  padding: 1.5rem;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: scale(1.02); 
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.heading h1 {
  transform: rotate(2deg);
  padding: 0.3rem 1.5rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #fdcb6e;
  font-size: 1.8rem; 
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

.form input {
  box-sizing: border-box;
  background-color: #fff;
  padding: 0.8rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #fdcb6e;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 75%;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.form input:focus {
  outline: none;
  border-bottom: solid 3px #e17055; /* Highlight effect */
}

/* Button Styling */
button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ffeaa7;
  cursor: pointer;
  transition: all 0.3s ease;
}

button span {
  background: #f1f5f8;
  display: block;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

button:hover span {
  background-color: #fdcb6e;
  border-color: #e17055;
  transform: scale(1.05);
}

li {
  text-align: left;
  position: relative;
  padding: 0.7rem;
  background: #ffffff;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

li:hover {
  background: #f6e58d;
  transform: scale(1.02);
}
